@media (max-width: 800px)
{
  .banner-title h1 img {
    width: 60vh;
  }

  .banner {
    height: 60vh;
  }

  .product-time-options a {
    font-size: .8em;
  }

  .banner-label {
    font-size: 4vw;
  }
}